*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: rgb(20, 145, 72);
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.8em;}
h3{ font-size: 2em;}
p{font-size: 1.25em;}

h1{
    padding: 10px;
}

button{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid rgb(25, 165, 83);
    box-shadow: 2px 2px 20px rgb(41, 66, 41);
    color: white;
    background-color: rgb(25, 165, 83);
}
button:hover{
    background-color: rgb(20, 145, 72);
}

.container{
    max-width: 1300px;
    margin: auto;
}
header{
    background-color: rgb(25, 165, 83);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 3em;
    color: white;
    
}
header .logo span{
    color: rgb(207, 29, 184);
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    font-size: 1.2em;
}

header a{
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
}

header a:hover{
    color: rgb(185, 92, 173);

}   

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    )
    ,url(https://images.pexels.com/photos/8140311/pexels-photo-8140311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center center;
    background-size: cover;
}

#hero h1{
    color: white;
    font-size: 3em;
}

#somos-growlove{
    background-color: rgb(25, 165, 83);
    width: 100%;
    height: auto;
}
    
#somos-growlove .container span{
    color: rgb(207, 29, 184);
}

#somos-growlove .container{
    text-align: center;
    padding: 100px 20px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#somos-growlove .texto{
    width: 50%;
    text-align: initial;
    padding: 0px 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nuestras-variedades{
    background-color: rgb(78, 13, 59);
    text-align: center;
    color:  white;
    background-position: center center;
    background-size: cover;
}

#nuestras-variedades .container{
    padding: 40px 0px;
    
}

#nuestras-variedades h2{
    margin-top: 10px;
}

#nuestras-variedades p{
    display: none;
}

#nuestras-variedades .carta{
    background-position: center center;
    background-size: cover;
    padding: 60px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
        
    ),url(https://images.pexels.com/photos/7773107/pexels-photo-7773107.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
        
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
        
    ),url(https://images.pexels.com/photos/8140274/pexels-photo-8140274.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}
    
    
.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
        
    ), url(https://images.pexels.com/photos/7667906/pexels-photo-7667906.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260)
}

#conocenos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    )
    ,url(https://images.pexels.com/photos/8140311/pexels-photo-8140311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center center;
    background-size: cover;
    color: white;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    background-color: rgb(25, 165, 83);
    color: white;
    
}

footer{
    background-color: rgb(25, 165, 83);
}

@media (min-width: 800px){
    header{
        position: fixed;
        width: 100%;
    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;

    }
    
    #somos-growlove h2{
        margin-top: 0px;
    }
    
    #somos-growlove .img-container{
        width: 100%;
    }

    #nuestras-variedades .variedades{
        display: flex;
        justify-content: center;
    }
    #nuestras-variedades p{
        display: block;
        margin-bottom: 10px;
    }
    #hero h1{
        font-size: 5em;
    }

}

#somos-growlove .container{
    display: flex;
}

#somos-growlove .img-container{
    background-image: url(https://images.pexels.com/photos/3676962/pexels-photo-3676962.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center center;
    background-size: cover;
    height: 500px;
}

.contacto-fondo{
    background-color: aquamarine;
}
.form-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #444;
    margin: 0px 129px;
}

.form{
    min-width: 400px;
    flex: 1;
    text-align: right;
    padding: 40px;
    margin: 0px;
}

.form__input{
    width: 100%;
    margin: 7px;
    padding: 10px;
}

.form-img{
    flex: 1;
}

.form-img img{
    width: 60%;
    border-radius: 50%;
    background-color: violet;
    padding: 70px;
    margin: auto;
}

.form textarea{
    resize: none;
    min-height: 150px;
}